# Packages

In [1]:
import pandas as pd

# Readings

# A description for each one of these sheets is given below:

* orders: it contains the orders that need the calculation of baskets and cold bags. Also, you can see when the order must be delivered and which warehouse received the order.

* order_products: contains what products and how many units of it were on an order from the sheet “orders”.

* store_products: contains information about the storage of the products and a marketing category.

* products: contains information about the products, its dimensions and weight, as well as their names and the can_mix category.

In [2]:

orders = pd.read_excel('dataset.xlsx', sheet_name='orders')
order_products = pd.read_excel('dataset.xlsx', sheet_name='order_products')
store_products = pd.read_excel('dataset.xlsx', sheet_name='store_products')
products = pd.read_excel('dataset.xlsx', sheet_name='products')

# Important Informations

### The baskets have the following characteristics:
*	Length: 50 centimeters
*	Width: 40 centimeters
*	Height: 60 centimeters

Total weight that it can resit: 25 kilograms

### The cold bags have the following characteristics:
* Length: 23 centimeters
* Width: 37 centimeters
* Height: 18 centimeters

Total weight that it can resit: 5 kilograms

### A category that determines if the product can be mixed with other products
* Food
* Toilet
* Pets

### A storage type that determines the type of package that will be used for the product
* Dry
* Refrigerated
* Frozen

In [3]:
orders.head(3)

   order_id  warehouse_id delivery_date  user_id
0   1781559             1    2020-02-01    89718
1   1781560             1    2020-02-02   487283
2   1781561             5    2020-02-02   477993

In [19]:
print(orders.shape)
print()
print(orders.describe())
print()
print(orders.info())

(26308, 4)

           order_id  warehouse_id        user_id
count  2.630800e+04  26308.000000   26308.000000
mean   1.795241e+06      4.023567  507278.641896
std    7.913503e+03      2.475480  232748.593153
min    1.781559e+06      1.000000      12.000000
25%    1.788343e+06      2.000000  306568.500000
50%    1.795236e+06      5.000000  571123.000000
75%    1.802152e+06      6.000000  720586.000000
max    1.808868e+06    124.000000  766206.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26308 entries, 0 to 26307
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       26308 non-null  int64
 1   warehouse_id   26308 non-null  int64
 2   delivery_date  26308 non-null  object
 3   user_id        26308 non-null  int64
dtypes: int64(3), object(1)
memory usage: 822.2+ KB
None

In [4]:
order_products.head(3)

   order_id  store_product_id  quantity
0   1781559             15970         1
1   1781559              8426         1
2   1781559             29720         1

In [18]:
print(order_products.shape)
print()
print(order_products.describe())
print()
print(order_products.info())

(540964, 3)

           order_id  store_product_id       quantity
count  5.409640e+05     540964.000000  540964.000000
mean   1.794980e+06      11171.634704       1.190016
std    8.095775e+03       8041.202976       1.190351
min    1.750301e+06          1.000000       0.000000
25%    1.787783e+06       5670.000000       1.000000
50%    1.794996e+06      11536.000000       1.000000
75%    1.802197e+06      14931.000000       1.000000
max    1.808868e+06      41325.000000     300.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540964 entries, 0 to 540963
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          540964 non-null  int64
 1   store_product_id  540964 non-null  int64
 2   quantity          540964 non-null  int64
dtypes: int64(3)
memory usage: 12.4 MB
None

In [5]:
store_products.head(3)

   store_product_id  product_id storage category
0                 1           1    Seco     Aseo
1                 2           2    Seco     Aseo
2                 3           3    Seco     Aseo

In [20]:
print(store_products.shape)
print()
print(store_products.describe())
print()
print(store_products.info())

(220043, 4)

       store_product_id     product_id
count     220043.000000  220043.000000
mean      296323.832542  245685.245520
std       202437.912801   69505.891852
min            1.000000       0.000000
25%       109014.500000  192249.500000
50%       340879.000000  232944.000000
75%       517053.500000  307519.500000
max       574269.000000  358536.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220043 entries, 0 to 220042
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   store_product_id  220043 non-null  int64
 1   product_id        220043 non-null  int64
 2   storage           219994 non-null  object
 3   category          208407 non-null  object
dtypes: int64(2), object(2)
memory usage: 6.7+ MB
None

In [6]:
products.head(3)

,product_id,reference,product_name,height,width,length,weight,can_mix,type
0,1,7702191657874,Detergente Líquido Fab Floral 1Lt,23.0,13.0,8.0,1108.0,Toilet,Simple
1,2,7591107310060,Limpia Pisos Pinol Creso,27.0,10.0,7.0,0.0,Toilet,Simple
2,3,7702047129135,Colada Maizena Sabor Arequipe,1.0,13.0,12.0,33.0,Food,Simple

In [22]:
print(products.shape)
print()
print(products.describe())
print()
print(products.info())

(104766, 9)

          product_id         height          width         length  \
count  104766.000000  104664.000000  104663.000000  104662.000000
mean   280999.881546      15.205015      13.945176      10.337089
std     61765.160025     195.171175     387.399302      28.899994
min         1.000000       0.000000       0.000000       0.000000
25%    229206.250000       5.000000       5.000000       4.600000
50%    297746.500000      10.000000       7.300000       6.200000
75%    332121.750000      20.000000      15.000000      12.000000
max    358536.000000   44338.000000   44319.000000    7625.000000

              weight
count  104766.000000
mean      557.042151
std      4433.434087
min         0.000000
25%         4.000000
50%       100.000000
75%       500.000000
max    946000.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104766 entries, 0 to 104765
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   product_id    104766 non-null  int64
 1   reference     104766 non-null  object
 2   product_name  104766 non-null  object
 3   height        104664 non-null  float64
 4   width         104663 non-null  float64
 5   length        104662 non-null  float64
 6   weight        104766 non-null  float64
 7   can_mix       100292 non-null  object
 8   type          104766 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 7.2+ MB
None